
<ion-header>

  <ion-navbar class="navBar">
    <ion-title>Tic Tac Toe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let row of rows; let r = index">
      <ion-col (click)="gameMove(r, c)" class="cell" col-4 *ngFor="let col of cols; let c = index">
          <ion-icon *ngIf="gameBoard[r][c] === 'X'" name="close"></ion-icon>
          <ion-icon *ngIf="gameBoard[r][c] === 'O'" name="radio-button-off"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
    <button outline class="newGame-btn" ion-button (click)="newGame()">Start a New Game</button>
  </ion-footer>
